<div class="m-box-menu__item-inner">
  {{{a11y_aria_label _globals._menu._boxmenu.menuItem}}}

  {{#if _graphic.src}}
  <div class="m-box-menu__item-image-container">

    {{#if _graphic.alt}}
    <img class="m-box-menu__item-image" src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0">
    {{else}}
    <img class="m-box-menu__item-image a11y-ignore" src="{{_graphic.src}}" aria-hidden="true" tabindex="-1">
    {{/if}}

  </div>
  {{/if}}

  <div class="m-box-menu__item-details">
    <div class="m-box-menu__item-details-inner">

      {{#if displayTitle}}
      <div class="m-box-menu__item-title">
        <div class="m-box-menu__item-title-inner" {{{a11y_attrs_heading "menuItem"}}}>
          {{{compile displayTitle}}}
        </div>
      </div>
      {{/if}}

      {{#if body}}
      <div class="m-box-menu__item-body">
        <div class="m-box-menu__item-body-inner">
          {{{compile_a11y_text body}}}
        </div>
      </div>
      {{/if}}

      {{#if duration}}
      <div class="m-box-menu__item-duration">
        <div class="m-box-menu__item-duration-inner">
          {{#if _globals._menu._boxmenu.durationLabel}}{{{_globals._menu._boxmenu.durationLabel}}}{{/if}} {{{duration}}}
        </div>
      </div>
      {{/if}}

      <div class="m-box-menu__item-progress js-menu-progress">
        {{!-- Menu item progress bar will render in here --}}
      </div>

      <div class="m-box-menu__item-button-container">
        <button class="m-box-menu__item-button js-btn-navigate{{#if _isVisited}} is-visited{{/if}}{{#if _isLocked}} is-locked{{/if}}"{{#if _isLocked}} disabled="disabled"{{/if}} aria-label="{{linkText}}{{#if _isVisited}}, {{_globals._accessibility._ariaLabels.visited}}{{/if}}">
          {{{linkText}}}
        </button>
      </div>

    </div>
  </div>

</div>
