<div class="menu-item-inner" role="menuitem"  aria-label="{{_ariaLabels.item}}">
    <div class="menu-graphic">
        <a href="#/id/{{_id}}" class="{{#if _isVisited}}visited{{/if}}" aria-label="{{_graphic.alt}}" role="button">
            <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" />
        </a>
    </div>
    <div class="menu-item-title">
        <h2 class="menu-item-title-inner" role="heading">{{{displayTitle}}}</h2>
    </div>
    <div class="menu-item-body">
        <div class="menu-item-body-inner">{{{body}}}</div>
    </div>
    <div class="menu-item-button">
        <a href="#/id/{{_id}}" role="button" aria-label="{{_ariaLabels.linkText}}" class="{{#if _isVisited}}visited{{/if}}">
            {{{linkText}}}
        </a>
        {{#if duration}}
            <span class="menu-item-duration">Duration: {{{duration}}}</span>
        {{/if}}
    </div>
</div>